/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Smooch+Sans:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Caveat:wght@400..700&family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

html,
body {
  /* font-family: "Bricolage Grotesque"; */
  /* font-family: "Caveat", cursive; */
  font-family: "Smooch Sans";
}

a.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
/* 
* {
  font-family: "Cormorant Garamond", serif;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
} */


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
